<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.dao.ICrmContactsDao" >
    <resultMap id="CrmContactsMap" type="test.bean.CrmContacts" >
        
        <result column="contacts_id" property="contactsId" jdbcType="BIGINT" />
        
        <result column="customer_id" property="customerId" jdbcType="BIGINT" />
        
        <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
        
        <result column="contacts_type" property="contactsType" jdbcType="TINYINT" />
        
        <result column="contacts_name" property="contactsName" jdbcType="VARCHAR" />
        
        <result column="contacts_position_status" property="contactsPositionStatus" jdbcType="TINYINT" />
        
        <result column="contacts_source" property="contactsSource" jdbcType="VARCHAR" />
        
        <result column="contacts_mobile" property="contactsMobile" jdbcType="VARCHAR" />
        
        <result column="contacts_email" property="contactsEmail" jdbcType="VARCHAR" />
        
        <result column="contacts_qq" property="contactsQq" jdbcType="VARCHAR" />
        
        <result column="contacts_wechat" property="contactsWechat" jdbcType="VARCHAR" />
        
        <result column="contacts_phone" property="contactsPhone" jdbcType="VARCHAR" />
        
        <result column="contacts_position" property="contactsPosition" jdbcType="VARCHAR" />
        
        <result column="contacts_birthday" property="contactsBirthday" jdbcType="DATE" />
        
        <result column="contacts_hobby" property="contactsHobby" jdbcType="VARCHAR" />
        
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        
        <result column="flow_status" property="flowStatus" jdbcType="TINYINT" />
        
        <result column="receive_status" property="receiveStatus" jdbcType="TINYINT" />
        
        <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />

        <result column="company_full_name" property="companyFullName" jdbcType="VARCHAR" />

        <result column="follow_user_employee_id" property="followUserEmployeeId" jdbcType="BIGINT" />
        
        <result column="follow_user_id" property="followUserId" jdbcType="INTEGER" />
        
        <result column="follow_user_name" property="followUserName" jdbcType="VARCHAR" />
        
        <result column="follow_user_dept_id" property="followUserDeptId" jdbcType="INTEGER" />
        
        <result column="follow_user_dept_name" property="followUserDeptName" jdbcType="VARCHAR" />
        
        <result column="create_employee_id" property="createEmployeeId" jdbcType="BIGINT" />
        
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
        
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_employee_id" property="updateEmployeeId" jdbcType="BIGINT" />
        
        <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
        
        <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <result column="data_source" property="dataSource" jdbcType="TINYINT" />

        <result column="register_flag" property="registerFlag" jdbcType="TINYINT" />

        <result column="place_order_flag" property="placeOrderFlag" jdbcType="TINYINT" />

        <result column="last_order_time" property="lastOrderTime" jdbcType="TIMESTAMP" />

        <result column="registration_user_id" property="registrationUserId" jdbcType="INTEGER" />

        <result column="flow_type" property="flowType" jdbcType="TINYINT" />

        <result column="mnemonic_code" property="mnemonicCode" jdbcType="VARCHAR" />

        <result column="flow_dept_id" property="flowDeptId" jdbcType="INTEGER" />

        <result column="flow_dept_name" property="flowDeptName" jdbcType="VARCHAR" />

        <result column="contacts_position_remarks" property="contactsPositionRemarks" jdbcType="VARCHAR"/>

        <result column="contacts_dept" property="contactsDept" jdbcType="VARCHAR"/>

        <result column="old_customer_id" property="oldCustomerId" jdbcType="BIGINT" />

        <result column="origin" property="origin" jdbcType="TINYINT" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        contacts_id,
        customer_id,
        customer_code,
        contacts_type,
        contacts_name,
        contacts_position_status,
        contacts_source,
        contacts_mobile,
        contacts_email,
        contacts_qq,
        contacts_wechat,
        contacts_phone,
        contacts_position,
        contacts_birthday,
        contacts_hobby,
        remark,
        flow_status,
        receive_status,
        registration_time,
        follow_user_employee_id,
        follow_user_id,
        follow_user_name,
        follow_user_dept_id,
        follow_user_dept_name,
        create_employee_id,
        create_user_id,
        create_user_name,
        create_time,
        update_employee_id,
        update_user_id,
        update_user_name,
        update_time,
        data_source,
        register_flag,
        place_order_flag,
        last_order_time,
        registration_user_id,
        flow_dept_id,
        flow_dept_name,
        contacts_position_remarks,
        contacts_dept,
        old_customer_id,
        origin
    </sql>

    <sql id="normalWhere">
        <if test="contactsId!=null">
            and contacts_id = #{contactsId,jdbcType=BIGINT}
        </if>
        <if test="customerId!=null">
            and customer_id = #{customerId,jdbcType=BIGINT}
        </if>
        <if test="customerCode!=null">
            and customer_code = #{customerCode,jdbcType=VARCHAR}
        </if>
        <if test="contactsType!=null">
            and contacts_type = #{contactsType,jdbcType=TINYINT}
        </if>
        <if test="contactsName!=null">
            and contacts_name = #{contactsName,jdbcType=VARCHAR}
        </if>
        <if test="contactsPositionStatus!=null">
            and contacts_position_status = #{contactsPositionStatus,jdbcType=TINYINT}
        </if>
        <if test="contactsSource!=null">
            and contacts_source = #{contactsSource,jdbcType=VARCHAR}
        </if>
        <if test="contactsMobile!=null">
            and contacts_mobile = #{contactsMobile,jdbcType=VARCHAR}
        </if>
        <if test="contactsEmail!=null">
            and contacts_email = #{contactsEmail,jdbcType=VARCHAR}
        </if>
        <if test="contactsQq!=null">
            and contacts_qq = #{contactsQq,jdbcType=VARCHAR}
        </if>
        <if test="contactsWechat!=null">
            and contacts_wechat = #{contactsWechat,jdbcType=VARCHAR}
        </if>
        <if test="contactsPhone!=null">
            and contacts_phone = #{contactsPhone,jdbcType=VARCHAR}
        </if>
        <if test="contactsPosition!=null">
            and contacts_position = #{contactsPosition,jdbcType=VARCHAR}
        </if>
        <if test="contactsBirthday!=null">
            and contacts_birthday = #{contactsBirthday,jdbcType=DATE}
        </if>
        <if test="contactsHobby!=null">
            and contacts_hobby = #{contactsHobby,jdbcType=VARCHAR}
        </if>
        <if test="remark!=null">
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="flowStatus!=null">
            and flow_status = #{flowStatus,jdbcType=TINYINT}
        </if>
        <if test="receiveStatus!=null">
            and receive_status = #{receiveStatus,jdbcType=TINYINT}
        </if>
        <if test="registrationTime!=null">
            and registration_time = #{registrationTime,jdbcType=TIMESTAMP}
        </if>
        <if test="followUserEmployeeId!=null">
            and follow_user_employee_id = #{followUserEmployeeId,jdbcType=BIGINT}
        </if>
        <if test="followUserId!=null">
            and follow_user_id = #{followUserId,jdbcType=INTEGER}
        </if>
        <if test="followUserName!=null">
            and follow_user_name = #{followUserName,jdbcType=VARCHAR}
        </if>
        <if test="followUserDeptId!=null">
            and follow_user_dept_id = #{followUserDeptId,jdbcType=INTEGER}
        </if>
        <if test="followUserDeptName!=null">
            and follow_user_dept_name = #{followUserDeptName,jdbcType=VARCHAR}
        </if>
        <if test="contactsDept!=null">
            and contacts_dept = #{contactsDept,jdbcType=VARCHAR}
        </if>
        <if test="createEmployeeId!=null">
            and create_employee_id = #{createEmployeeId,jdbcType=BIGINT}
        </if>
        <if test="createUserId!=null">
            and create_user_id = #{createUserId,jdbcType=INTEGER}
        </if>
        <if test="createUserName!=null">
            and create_user_name = #{createUserName,jdbcType=VARCHAR}
        </if>
        <if test="createTime!=null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateEmployeeId!=null">
            and update_employee_id = #{updateEmployeeId,jdbcType=BIGINT}
        </if>
        <if test="updateUserId!=null">
            and update_user_id = #{updateUserId,jdbcType=INTEGER}
        </if>
        <if test="updateUserName!=null">
            and update_user_name = #{updateUserName,jdbcType=VARCHAR}
        </if>
        <if test="updateTime!=null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="oldCustomerId!=null">
            and old_customer_id = #{oldCustomerId,jdbcType=BIGINT}
        </if>
        <if test="origin!=null">
            and origin = #{origin,jdbcType=TINYINT}
        </if>
    </sql>



    <select id="getCrmContactsById" resultMap="CrmContactsMap" parameterType="java.lang.Long" >
        select <include refid="Base_Column_List" />
          from t_crm_contacts
         where contacts_id = #{contactsId,jdbcType=BIGINT}
    </select>
    
    <select id="getAll"  resultMap="CrmContactsMap" parameterType="test.bean.CrmContacts">
        select <include refid="Base_Column_List" /> from t_crm_contacts where 1=1
        <include refid="normalWhere" />
    </select>

</mapper>